body{
    background: rgb(138, 43, 226);
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button{
    background: rgb(228, 10, 137);
    color:rgb(0, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
}